/* Hero section */
.hero-section {
  height: 100vh;
  min-height: 100%;
  display: flex;
  position: relative;
}

.left-hero,
.right-hero {
  display: flex;
  width: 50%;
  background-size: cover;
  background-clip: border-box;
  align-items: center;
  align-self: auto;
  position: relative;
}

.left-hero {
  justify-content: flex-end;
  background-image: url(../assets/leftHero.png);
}

.right-hero {
  justify-content: flex-start;
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)
    ),
    url(../assets/rightHero.png);
}

.left-hero-content,
.right-hero-content {
  width: 100%;
  height: 40vh;
  max-height: 100vh;
  max-width: 625px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.left-hero-content {
  align-items: flex-end;
  padding-right: 50px;
}

.right-hero-content {
  align-items: flex-start;
  padding-left: 50px;
}

.hero-title {
  text-transform: uppercase;
  flex: 0 auto;
  font-size: 36px;
  font-weight: 900;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.hero-description {
  margin: 40px 0px;
  line-height: 1.5;
  color: white;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.left-hero-btn {
  color: white;
  background-color: grey;
}

.right-hero-btn {
  color: rgb(66, 66, 66);
  background-color: white;
}

/* Hello world section */
.hello-world {
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
  padding-top: 30px;
  background-color: #f1f2f3;
  max-width: 100vw;
  height: 100vh;
}

.section-title {
  display: flex;
  flex: 0 auto;
  align-items: center;
}

.arrow {
  color: #28eea7;
  font-size: 36px;
  font-weight: 900;
  padding: 10px 20px;
  column-count: auto;
  text-align: right;
}

.title {
  color: #363738;
  text-align: left;
  line-height: 1.4;
  column-count: auto;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 900;
}

.circles {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: auto;
}

.black-circle,
.grey-circle,
.green-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.black-circle {
  background-color: #363738;
  margin-left: auto;
}
.grey-circle {
  background-color: #dcdee1;
}
.green-circle {
  background-color: #28eea7;
}
